.texto-cuerpo{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    background-color: #faf0e3;
}

.label-principal {
    font-weight: bold;
    font-size: 21px;
    margin: 0.2em;
    padding: 4px;
    text-align: justify;
    display: block;
}

#texto-cript{
    padding: 4px;
    margin: 0.2em;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 1em;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: 1.3rem;
    letter-spacing: 1px;
    display: block;
}

#criptreemplazo-texto {
    margin: 0.2em;
    border: 0.2em;
    border-radius: 1em;
    border-width: 1em;
    padding: 0.6em;
    max-width: 100%;
    line-height: 1.5;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: rgb(235, 180, 97);
    text-align: center;
    justify-content: center;
    display: block;
    visibility: hidden;
}

#boton-encriptar{
    text-align: justify;
    padding: 1em;
    margin: 1em;
    border-width: 0.5em;
    font-size: large;
}

#boton-desencriptar{
    text-align: justify;
    padding: 1em;
    margin: 1em;
    border-width: 0.5em;
    font-size: large;
}

.img-advertencia{
    display: inline-block;
   width: 4%;
}

.texto-advertencia{
    display: block;
    margin: 0.2em;
    padding: 0.2em;
    font-size: 1.1em;
}

.texto-ocultable{
    margin: 0.2em;
    border: 0.2em;
    border-radius: 1em;
    border-width: 1em;
    padding: 0.6em;
    max-width: 100%;
    line-height: 1.5;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: 1.3rem;
    letter-spacing: 1px;
    background-color: rgb(235, 180, 97);
    text-align: center;
    justify-content: center;
    display: block;
}

#munieco{
    width: 300px;
    margin: 0.2em;
    padding: 8px;
    display: block;
    position: relative;
}

.button-div{
    display: inline-block;
    flex-direction: row;
}

.footer {
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    padding: 1em;
    margin: 1em;
    display: block;
}

#boton-copiar{
    text-align: justify;
    border-width: 0.5em;
    font-size: large;
    position: relative;
    visibility: hidden;
}

.avisocopi {
    position: relative;
    display: inline-flex;
  }
  
  .avisocopi .avisocopi-text {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .avisocopi .avisocopi-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .avisocopi:hover .avisocopi-text {
    visibility: visible;
    opacity: 1;
  }

  #logo-alura{
    padding: 4px;
    margin: 8px;
    align-items: baseline;
    display: inline;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    #logo-alura, #munieco, div, .footer{
        width:auto;
    }
}