.texto-cuerpo{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.titulo-principal {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.footer {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}