.texto-cuerpo{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.label-principal {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    text-align: justify;

}

#texto-cript{
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.criptreemplazo-texto {
    font-size: 18px;
    display: inline-block;
    margin: 10px;
    text-align: justify;
}

.footer {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.img-advertencia{
    display: inline;
}

.munieco{
    display: inline-block
}